
body, section, article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

a {
    text-decoration: none;
}

input {
    width: 100px;
}

div img {
    width: 240px;
    height: 240px;
}
